html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0%;
}

.myProjects{
     border-radius: 15px;
    margin: 20px;
    margin-top: 120px;
    padding-top: 10px;
    background: linear-gradient(to top, rgb(175, 247, 247), white);
    padding: 10px;
    
}

h3{
    padding-left: 50px;
}
